* {
    padding: 0;
    margin: 0;
  }

  p{
      color:#d8d8d8;
  }
  
  .empty-state__container {
    background-color: #303030;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }